<div class="newCharacter-header">
	<h3 class="modal-title">Nová postava</h3>
	<div class="newCharacter-subtitles">
		<h5>{{pages[0]}}</h5>
		<h5>{{pages[1]}}</h5>
		<h5>{{pages[2]}}</h5>
		<h5>{{pages[3]}}</h5>
	</div>
	<div class="newCharacter-progress">
		<div ng-style="{width: ((part+1)/4*100) + '%'}"></div>
	</div>
</div>

<div ng-include="'partials/createCharacterForms-0.html'" />
<div ng-include="'partials/createCharacterForms-1.html'" />
<div ng-include="'partials/createCharacterForms-2.html'" />
<div ng-include="'partials/createCharacterForms-3.html'" />