
<form ng-controller="NewCharacterAttrsController" name="createForm2" ng-show="part == 1" class="form-horizontal modal-form">
	<div class="modal-body attrs-modal-body">
		<table>
			<tr class="divider-2">
				<td>
					<table class="table table-condensed table-hover">
						<tr ng-repeat="attr in getBaseAttrs()" ng-class="{info: isMainAttr(attr)}">
							<td>{{getLongName(attr)}}</td>
							<td>{{newCharacter.attributes[attr] | attr}}</td>
							<td>
								<div class="pull-right" ng-hide="random">
									<a href ng-click="increase(attr)"><i class="glyphicon glyphicon-chevron-up"></i></a>
									<a href ng-click="decrease(attr)"><i class="glyphicon glyphicon-chevron-down"></i></a>
								</div>
							</td>
							<td ng-hide="random">{{remaining[attr]}}</td>
						</tr>
					</table>
					<div ng-hide="newCharacter.male">
						<div class="checkbox">
							<label for="genderCorrections">
								<input ng-model="useGenderCorrections" type="checkbox" id="genderCorrections"> Opravy za pohlaví
							</label>
						</div>
					</div>
				</td>
				<td>
					<div class="center-block">
						<div class="btn-group">
							<label ng:model="random" btn-radio="false" class="btn btn-default" ng-click="clearRandom()">Rozhodnutí hráče</label>
							<label ng:model="random" btn-radio="true" class="btn btn-default" ng-click="makeRandom()">Náhoda</label>
						</div>
					</div>
					<hr>
					<div ng-show="random" class="center-block">
						<button class="btn btn-default" ng-click="makeRandom()">
							<i class="icon-random"></i> Hodit kostkami
						</button>
					</div>
					<div ng-hide="random" class="pagination-centered">
						<table>
							<tr>
								<th>Hlavní body</th>
								<th>Vedlejší body</th>
								<th>Max. k jedné vedlejší</th>
							</tr>
							<tr>
								<td>{{remainingMain}}</td>
								<td>{{remainingSecondary}}</td>
								<td>{{model.uniqueness}}</td>
							</tr>
						</table>
					</div>
				</td>
			</tr>
		</table>
	</div>
	<div class="modal-footer">
		<a href="" class="btn btn-default" ng-click="cancel()">Zavřít</a>
		<button class="btn btn-default" ng-click="goto(0)">Zpět</button>
		<button class="btn btn-primary" ng-click="goto(2)">Další</button>
	</div>
</form>