
<table>
	<tr>
		<th>Váha:</th>
		<td>{{selectedItem.weight}} kg</td>
	</tr>
	<tr>
		<th>Cena:</th>
		<td><span data-gold data-count="selectedItem.price"></span></td>
	</tr>
</table>
Kusů: <input type="number" ng-model="itemCount" step="1" min="1" />
<br>
<label><input type="checkbox" ng-model="payForItem" />Zaplatit za předmět</label>
<br>
Cena / ks: <input type="number" ng-model="itemPrice" ng-disabled="!payForItem" min="0" />
<br>
Celkem: <span data-gold data-count="itemCount * itemPrice"></span>
<br>
Vlastní název: <input type="text" ng-model="userItemName" />