<div class="jumbotron">
	<div class="row">
		<div class="col-sm-9">
			<h1>{{character.name}}</h1>
			<h3>{{character.race}}, {{character.profession}} <span data-gender-icon data-character="character"></span></h3>
			<p>{{character.background}}</p>
		</div>

		<div class="col-sm-3 character-experience">
			<div class="row">
				<div class="col-sm-8 col-xs-9">Úroveň:</div>
				<div class="col-sm-4 col-xs-3">
					{{character.level}}
					<button class="btn btn-xs btn-success" ng-show="character.experience >= character.getExperienceNeeded()" ng-click="openLevelUpDialog()">
						<span class="glyphicon glyphicon-chevron-up"></span>
					</button>
				</div>
			</div>

			<div class="row">
				<div class="col-sm-8 col-xs-9">Zkušenosti:</div>
				<div class="col-sm-4 col-xs-3">{{character.experience}} / {{character.getExperienceNeeded()}}</div>
			</div>

			<div class="row character-experienceProgress">
				<div class="col-sm-8 col-xs-9">
					<div class="progress">
						<div class="progress-bar" ng-style="{width: (character.experience*100/character.getExperienceNeeded()) + '%'}"></div>
					</div>
				</div>
				<div class="col-sm-4 col-xs-3">
					<button class="btn btn-default btn-xs" ng-click="character.experience = character.experience + 1"><span class="glyphicon glyphicon-plus"></span></button>
				</div>
			</div>
		</div>
	</div>
</div>