<form ng-controller="NewCharacterBackgroundController" name="createForm3" ng-show="part == 2" class="form-horizontal modal-form">
	<div class="modal-header">
		<h3>Zázemí</h3>
	</div>
	<div class="modal-body attrs-modal-body">
		<p>Bodů zázemí: {{total}}</p>
		<table class="table table-condensed table-hover table-background">
			<tr ng-repeat="type in types" ng-class="{info: isMainAttr(attr)}">
				<td>{{names[type]}}</td>
				<td>{{allocated[type]}}</td>
				<td>
					<div class="pull-right">
						<a href ng-click="increase(type)"><i class="icon-chevron-up"></i></a>
						<a href ng-click="decrease(type)"><i class="icon-chevron-down"></i></a>
					</div>
				</td>
				<td>{{remaining[type]}}</td>
				<td ng-switch on="type">
					<span ng-switch-when="ancestry">{{ancestries[allocated[type]]}}</span>
					<span ng-switch-when="wealth" gold data-count="wealths[allocated[type]]"></span>
					<div ng-switch-when="skills">
						<div>Fyzické: {{skillPoints.physical}}</div>
						<div>Psychické: {{skillPoints.psychic}}</div>
						<div>Kombinované: {{skillPoints.combined}}</div>
					</div>
				</td>
			</tr>
		</table>
	</div>
	<div class="modal-footer">
		<a href class="btn btn-default" data-dismiss="modal">Zavřít</a>
		<button class="btn btn-default" ng-click="goto(1)">Zpět</button>
		<button class="btn btn-primary" ng-click="goto(3)">Další</button>
	</div>
</form>